@import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Sans&family=Libre+Franklin:wght@700&display=swap');

:root {
    /* change the values below to your colors from your palette */
    --primary-color: #001219   ;
    --secondary-color: #e9d8a6 ;
    --accent1-color: #ae2012;
    --accent2-color: #9b2226;
  
    /* change the values below to your chosen font(s) */
    --heading-font: 'Libre Franklin', Arial, sans-serif;
    --paragraph-font: 'DM Sans', Verdana, sans-serif;
  
    /* these colors below should be chosen from among your palette colors above */
    --headline-color-on-white: #396E94;  /* headlines on a white background */ 
    --headline-color-on-color: white; /* headlines on a colored background */ 
    --paragraph-color-on-white: #396E94; /* paragraph text on a white background */ 
    --paragraph-color-on-color: white; /* paragraph text on a colored background */ 
    --paragraph-background-color: #396E94  ;
    --nav-link-color: white;
    --nav-background-color: #9b2226;
    --nav-hover-link-color: #001219;
    --nav-hover-background-color: #e9d8a6;
  }

#content {
    max-width: 1600px;
    margin: 0 auto;
}
header {
    background-color:#9b2226;
    font-family: var(--heading-font);
}

.logo {
    width: 80px;
}

#logo_link {
    padding-top: 5px;
}   

nav a {
    text-align: center;
    text-decoration: none;
    color: white;
    padding: 35px;
}

nav a:hover {
    background-color: #e9d8a6;
    color: #001219;
}

.home-title {
    color:#001219;
    font-family: var(--heading-font);
    font-size: 2em;
    margin-top: 10px;
}


body {
    background-color: #fcfbfb;
    font-family: var(--paragraph-font);
    font-size: 22px;
    margin: 0;
    padding: 0;
}

h2 {
    margin: 0;
}

h4 {
    color:#001219;

}

main section img {
    box-sizing: border-box;
}

.book, .join {
    background-color: #9b2226; 
    color:#fcfbfb;
    text-decoration: none;
    font-size: 18px;
    padding: 15px 30px;
    margin-top: 50px;
    border-radius: 5px;
}

.book:hover, .join:hover {
    background-color: #e9d8a6;
    color:#001219;
}

.rivers-card, .camping-card, .rapids-card {
    margin: 200px 0;
}  

.card-img {
    border: 10px solid #d9c2a3;
}

.icon {
    width: 70px;
    padding-top: 10px;
}

.msg {
    line-height: 1.5em;
    padding: 35px;
}

.msg h2 {
    color:#9b2226;
    font-family: var(--heading-font);
}

.msg p {
    color:#001219;
    font-size: .8em;
    padding-bottom: 15px;
}

#hero-msg h1, #hero-msg h4 {
    text-align: center;
}

#hero-img {
    width: 100%;
}

.button-box {
    text-align: center;
}

main section {
    text-align: center;
}

#background {
    height: 725px;
    background-color:#e9d8a6;
}

footer {
    background-color:#e9d8a6;
    padding: 25px 50px;
    margin-top: 200px;
}

footer p {
    font-size: 1.2em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a {
    color:#001219;
    text-decoration: none;
}

footer a:hover {
    color:#9b2226;
}

footer .social img {
    padding-top: 15px;
}





