#content {
    max-width:1600px;
    margin:0 auto;
}

nav a{
    text-align:center;
    color:#fff;
    text-decoration:none;
    padding: 35px;

}
nav {
    display: flex;
    justify-content: space-around; 
}

header {
    background-color:#000;
    display: grid;
    grid-template-columns: 150px auto;
}

body {
    background-color: #fff;
    font-family: Poppins, Helvetica, sans-serif;
    font-size: 22px;
    margin: 0;
    padding: 0;
}

.logo {
width:200px;
}

nav a:hover,.book:hover,.join:hover {
    background-color:#FF9635;
    color:#fff;
}

.banner {
 background: #171321;
 color: #fff;
 margin: auto;
 text-align: center;
 margin-top: -30px;
}

.banner h3{
    padding-top: 20px;
}

.banner img {
    max-width: 1600px;
}

.old_app {
    max-width: 250px;
    padding: 20px;
}

.centered_img {
    padding-left: 200px;
}


.app_struc_img {
    max-width: 700px;
    
    border-radius: 10px;
    
}

.container {
    background: #171321;
    color: #fff;
    display: grid;
    align-items: center; 
    grid-template-columns: 1fr 1fr 1fr;
    column-gap: 5px;
    border-radius: 10px;
    
   }
   
   img {
     max-width: 100%;
     max-height:100%;
   }

   .text {
    max-width: 800px;
    padding-left: 100px;
   }
   
   .gallery h3{
    display: flex;
    margin-left: 5%;
   }
  




footer {
    background-color:#000;
    color:#fff;
    padding: 25px 50px;
    margin-top: 200px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

footer a {
    color:#fff;
    text-decoration:none;
}

footer p {
    font-size: 1em;
}

footer p a:hover {
    text-decoration: underline;
}

footer a:hover {
    color:#FF9635;
}

.icon_footer{
    padding: 10px;
    margin-left: 20px;
    margin-right: 20px;
}

footer .social img {
    padding-top: 15px;
    width: 100px;
}

.be_social {
    margin: auto;
    width: 100px;
    padding-top: 15px; 
}

.be_social:hover {
    width: 110px;
}